* {
    box-sizing: border-box;
}

body {
    background-image: url("images/background.png");
    background-attachment: fixed;
    margin: 0;
}

#wrapper {
    min-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr 4fr 8fr 1.5fr 4fr .5fr 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 6.5fr 2.5fr 2.5fr 0.5fr 5.5fr 6fr 1.5fr 1.5fr;
    width: 100%;
    aspect-ratio: 3 / 4;
    min-height: 0;
    max-width: 60em;
    overflow: hidden;
}

#logo {
    grid-row: 3 / 4;
    grid-column: 4 / 6;
    max-height: auto;
    max-width: 70%;
    margin : auto;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

header {
    border: 2px solid #000;
    border-bottom: 0px;
    background-color: #ACC8E5;
    grid-row: 2 / 6;
    grid-column: 2 / 9;
}

nav {
    grid-row: 5/ 6;
    grid-column: 3 / 7;
    text-align: center;
}

nav a {
    background-color: #93E8ED;
    margin: auto;
    margin-bottom: 1em;
    border: 2px solid #000;
    border-left: 1em;
    border-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    z-index: 11;
}

a {
    text-decoration: none;
}

#homehero {
    border: 2px solid #000;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #ACC8E5;
    grid-row: 6 / 9;
    grid-column: 2 / 9;
}

#nohero {
    border: 2px solid #000;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #ACC8E5;
    grid-row: 6 / 9;
    grid-column: 2 / 9;
}

#homehero img {
    max-width: 100%;
}

#projectlink {
    min-width: 7em;
    min-height: 7em;
    grid-row: 7 / 8;
    grid-column: 6 / 8;
    text-align: center;
}

#projectlink h3 {
    font-weight: normal;
    margin: auto;
    margin-bottom: 1em;
    background-color: #93E8ED;
    border: 2px solid #dfc3c8;
    border-left: 1em;
    border-top: 1em;
}

main {
    border: 2px solid #000;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #ACC8E5;
    grid-row: 9 / 12;
    grid-column: 2 / 9;
}

#general-main {
    border: 2px solid #000;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #ACC8E5;
    grid-row: 9 / 10;
    grid-column: 2 / 9;
}

#main-text {
    grid-row: 10 / 11;
    grid-column: 3 / 7;
}

#general-text {
    grid-row: 6 / 11;
    grid-column: 3 / 7;
}

#main-text p {
    outline: 1px solid;
    outline-color: #000;
    outline-offset: 0.3em;
}

#general-text p {
    outline: 1px solid;
    outline-color: #000;
    outline-offset: 0.3em;
}

footer {
    border: 2px solid #000;
    border-top: 0px;
    background-color: #D9D9D9;
    grid-row: 12 / 13;
    grid-column: 2 / 9;
}

#general-footer {
    border: 2px solid #000;
    border-top: 0px;
    background-color: #D9D9D9;
    grid-row: 9 / 10;
    grid-column: 2 / 9;
}

#general-footer-text {
    grid-row: 9 / 10;
    grid-column: 4 / 6;
    text-align: center;
}

#gallery-text {
    grid-row: 6 / 11;
    grid-column: 3 / 7;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

#gallery-text p {
    outline: 1px solid;
    outline-color: #000;
    outline-offset: 0.3em;
}

.gallery-item {
    padding-right: 1em;
    width: 100%;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap: 0.75rem;
    width: 100%;
}

.gallery-item img {
    max-width: 100%;
    max-height: 50%;
}

#gallery-footer {
    border: 2px solid #000;
    border-top: 0px;
    background-color: #D9D9D9;
    grid-row: 12/ 13;
    grid-column: 2 / 9;
}

#gallery-footer-text {
    grid-row: 12 / 13;
    grid-column: 4 / 6;
}

#footer-text {
    grid-row: 12 / 13;
    grid-column: 4 / 6;
}

#footer-text h6 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

@media only screen and (max-width: 992px) {
    #journal-footer {
        margin-top: 1em;
        border: 2px solid #000;
        border-top: 0px;
        background-color: #D9D9D9;
        grid-row: 9 / 10;
        grid-column: 2 / 9;
    }

    #logo {
        display: none;
    }

    #homehero img {
        max-height: 60%;
        width: 100%;
        object-fit: cover;
    }

    #wrapper {
        max-width: 50em;
        grid-template-rows: 1.5fr 0.5fr 1.5fr 0.5fr 1.5fr 7.5fr 2.5fr 3.5fr 0.5fr 5.5fr 6fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 2fr 4fr 8fr 10fr 4fr .35fr 1.5fr 1.5fr;
    }

    #main-text {
        grid-column: 3 / 7;
        padding-top: 3em;
        grid-row: 7/10;
        margin: 0px 20px;
    }

    #general-text {
        grid-column: 3 / 7;
        padding-top: 3em;
        grid-row: 5/10;
        margin: 0px 20px;
    }

    nav {
        grid-column: 3 / 7;
        grid-row: 5/6;
    }

    #nav-logo {
        grid-column: 3/7;
        grid-row: 3/4;
        background-image: url("images/banner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #projectlink {
        grid-row: 7/8;
        margin-bottom: 1em;
        grid-column: 4 / 6;
        z-index: 10;
    }

    #projectlink h3 {
        margin-bottom: 0em;
        background-color: #93E8ED;
        border: 1px solid #000000;
        border-left: 1em;
        border-top: 1em;
    }
}

@media only screen and (max-width: 768px) {
    nav a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    #wrapper {
        aspect-ratio: 9/20;
        grid-template-columns: 0fr 2fr 4fr 8fr 10fr 4fr .35fr 1.5fr 0fr;
        grid-template-rows: 0fr 0.5fr 1.5fr 0.5fr 1.5fr 6.5fr 2.5fr 2.5fr 0.5fr 5.5fr 6fr 1.5fr 0fr;
    }

    #projectlink {
        grid-row: 7/8;
    }

    #projectlink h3 {
        margin-bottom: 0em;
    }
}